@import url(http://fonts.googleapis.com/css?family=Montserrat)
@import "compass/css3"

body
  @include display-box
  @include box-pack(center)
  @include box-align(center)
  @include box-sizing(border-box)
  align-items: center
  font-family: "Helvetica Neue", Arial, sans-serif
  display: flex
  height: 100%
  position: absolute
  padding: 20px
  text-align: center
  width: 100%

//
// Main content
//

.main-content
  margin: 0 auto
  text-align: center

  h1
    font-size: 27px
    font-weight: 400
    font-family: 'Montserrat', sans-serif

  p
    display: inline-block
    font-weight: 200
    color: #adadad
    font-size: 20px
    font-weight: 200
    height: 30px
    margin: 0 0 20px 0

//
// Buttons
//

.buttons
  display: inline-block

.button
  padding: 5px 10px
  display: inline-block
  font-size: 13px
  text-decoration: none
  font-weight: 500
  position: relative
  top: -2px
  text-transform: uppercase

  &:first-child
    margin-left: 5px

  &.button-yes
    background-color: #daf8de
    color: #3fa34d

    &:hover
      background-color: darken(#daf8de, 2)

    &:active
      background-color: darken(#daf8de, 7)

  &.button-no
    background-color: #f8e0d8
    color: #e2865d

    &:hover
      background-color: darken(#f8e0d8, 2)

    &:active
      background-color: darken(#f8e0d8, 7)

@media screen and (max-width: 320px)
  .button
    font-size: 16px
    padding: 8px 16px

//
// Questions
//

.question
  display: block

  &.question-hidden
    display: none
