@import "compass/css3/box"
@import "compass/css3/box-sizing"
@import "compass/css3/font-face"
@import "compass/css3/transition"
@import "compass/css3/transform"
@import "compass/css3/border-radius"

@include font-face("Mono Social Icons Font", font-files("MonoSocialIconsFont-1.10.woff", "MonoSocialIconsFont-1.10.ttf", "MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "MonoSocialIconsFont-1.10.eot", normal, normal)

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

$heading_color: #4C4C4C
$text_color: #adadad

body
  -webkit-font-smoothing: antialiased
  font-family: "Helvetica Neue", Arial, sans-serif

.symbol, a.symbol:before
  font-family: 'Mono Social Icons Font'
  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased

//
// Main content
//

.main-content
  margin: 0 auto
  margin-top: 100px
  width: 820px
  text-align: left
  overflow: visible
  padding: 0 30px

  header
    margin: 0 auto
    margin-bottom: 90px
    text-align: center
    width: 60%

    h1
      width: 100%
      text-align: center

    p
      font-size: 19px
      line-height: 28px
      text-align: center
      width: 100%

  h1
    font-size: 36px
    font-weight: 500
    font-family: 'Fira Sans', sans-serif
    color: $heading_color
    margin: 0 0 9px 0

  h2
    font-size: 20px
    font-weight: 500
    font-family: 'Fira Sans', sans-serif
    color: $heading_color
    margin: 0 0 9px 0

  p
    font-family: 'Avenir', sans-serif
    font-weight: 200
    color: $text_color
    font-size: 14px
    font-weight: 200
    margin: 0 0 9px 0

  strong
    font-weight: 500

  hr
    border: none
    border-top: solid 1px #E7E7E7
    margin: 0

  ul
    list-style: none
    padding-left: 0px

    li
      font-family: 'Avenir', sans-serif
      font-weight: 200
      color: $text_color
      font-size: 14px
      font-weight: 200
      margin: 0 0 5px 0

      &:before
        content: "\2713"
        display: inline-block
        vertical-align: top
        margin-right: 8px

.portfolio-item
  @include clearfix
  clear: both
  position: relative
  padding: 70px 0
  overflow: hidden

  img
    display: inline-block

  .portfolio-item-description
    display: inline-block
    width: 350px

  &.image-right
    img
      float: right

    .portfolio-item-description
      margin: 0
      margin-right: 20px
      float: left

  &.image-left
    img
      float: left

    .portfolio-item-description
      margin: 0
      margin-left: 20px
      float: right

  &.portfolio-item-1
    img
      position: absolute
      bottom: -350px
      @include transform(rotate(-8deg))

  &.portfolio-item-2
    img
      position: absolute
      bottom: -380px
      right: 5px
      @include transform(rotate(8deg))

  &.portfolio-item-3
    .portfolio-item-description
      position: relative
      bottom: -20px

    img
      position: absolute
      left: -25px
      bottom: 30px

.about-me
  @include clearfix
  margin: 60px auto 0
  width: 80%

  img
    float: left
    margin-right: 15px

  p
    display: block
    font-size: 19px
    line-height: 28px

.contact-me
  .contact-button
    border: solid 8px #FFF
    background-color: #4FC0A7
    color: #FFF
    display: block
    font-weight: 600
    font-family: 'Fira Sans', sans-serif
    font-size: 17px
    padding: 8px 14px
    text-decoration: none
    margin: 0 auto 10px
    text-align: center
    width: 100px
    z-index: 1000
    position: relative

    &:hover
      background-color: #75CEBA

  hr
    position: relative
    top: -38px

  .new-work-label
    text-align: center
    font-size: 15px
    font-style: italic
    margin-top: 40px

.medium
  text-align: center
  margin-top: 80px

  .medium-story
    display: inline-block

footer
  margin-top: 60px

//
// Social icons
//

.social-icons
  text-align: center
  padding-bottom: 20px

  .symbol
    color: lighten($text_color, 22)
    border: none
    text-decoration: none
    font-size: 30px
    padding: 2px
    margin: 0
    @include single-transition(color, 0.5s)

    &:hover
      color: darken($text_color, 8)
      @include single-transition(color, 0.1s)

@media screen and (max-width: 320px)
  .social-icons
    .symbol
      font-size: 36px
      padding: 2px
