---
title: Matt
---

<div class="main-content">
  <h1>Matt builds things for iOS &amp; the web.</h1>
  <p class="question question-1">
    Are you looking for a new thing?
    <a href="#" class="button button-yes" data-next="question-2">Yes</a>
    <a href="#" class="button button-no" data-next="question-3">No</a>
  </p>
  <p class="question question-2 question-hidden">
    Ok, great.
    <a href="mailto:inquiries@mattvague.com" class="button button-yes">Get in touch</a>
  </p>
  <p class="question question-3 question-hidden">
    Are you a recruiter?
    <a href="#" class="button button-yes" data-next="question-4">Yes</a>
    <a href="#" class="button button-no" data-next="question-5">No</a>
  </p>
  <p class="question question-4 question-hidden">
    And are you recruiting for Tesla or SpaceX?
    <a href="#" class="button button-yes" data-next="question-6">Yes</a>
    <a href="#" class="button button-no" data-next="question-7">No</a>
  </p>
  <p class="question question-5 question-hidden">
    Promise?
    <a href="#" class="button button-yes" data-next="question-2">Yes</a>
    <a href="#" class="button button-no" data-next="question-7">No</a>
  </p>
  <p class="question question-6 question-hidden">
    Promise?
    <a href="#" class="button button-yes" data-next="question-2">Yes</a>
    <a href="#" class="button button-no" data-next="question-7">No</a>
  </p>
  <p class="question question-7 question-hidden">
    Sorry, I'm only taking on contract work at the moment. Best of luck!
  </p>
</div>
