---
title: Matt Vague - iOS, Ruby on Rails, and Javascript developer from Vancouver, Canada
---

<div class="main-content">
  <header>
    <h1>Matt Vague</h1>
    <p>
    I’m a software developer from Vancouver, Canada. I specialize in building high quality iOS apps backed by
    fast, stable Ruby on Rails data storage APIs.
    </p>
  </header>

  <hr/>

  <section class="portfolio-item portfolio-item-1 image-left">
    <img src="/images/my_foresome.png"/>
    <div class="portfolio-item-description">
      <h2>MyForesome</h2>
      <p>
        MyForesome makes it easy to coordinate a round of golf with your buddies.
      </p>

      <ul>
        <li>Native iOS App</li>
        <li>Ruby on Rails data storage API</li>
      </ul>
      <a href="https://itunes.apple.com/us/app/myforesome/id935729524">View in App Store →</a>
    </div>
  </section>

  <hr/>

  <section class="portfolio-item portfolio-item-2 image-right">
    <div class="portfolio-item-description">
      <h2>Watch It</h2>
      <p>
        Watch It allows you to pick your favourite teams and the conditions that make a game worth watching to you.
        If a game matches, you'll be notified, otherwise you'll be advised to avoid 3 hours of misery.
      </p>

      <ul>
        <li>Native iOS App</li>
        <li>Ruby on Rails data storage API</li>
        <li>Game-analyzation library</li>
      </ul>
    </div>
    <img src="/images/watch_it.png"/>
  </section>

  <hr/>

  <section class="portfolio-item portfolio-item-3 image-left">
    <img src="/images/postcards.png"/>
    <div class="portfolio-item-description">
      <h2>Postcards From the Plane</h2>
      <p>
        Postcards From the Plane is an app that allows customers to design and send a real
        postcard anywhere in the world from Lufthansa flights.
      </p>
      <ul>
        <li>Ruby on Rails API</li>
        <li>Postcard compositing library</li>
        <li>Admin application and reporting tools</li>
      </ul>
    </div>
  </section>

  <hr/>

  <section class="about-me">
    <img src="/images/me.png"/>
    <p>
      My career in software started way back in 2002 building ugly websites in Frontpage. Since then, I've
      graduated from <a href="http://www.capilanou.ca">Capilano University</a> with a diploma in Interactive Design, worked on better
      banking at <a href="http://www.versapay.com">VersaPay</a> and <a href="http://www.simple.com">Simple</a>, helped rebuild <a href="http://getflow.com">Flow App</a>
      and worked in <a href="http://metalab.co">MetaLab</a>'s amazing consulting department.
    </p>
    <p>
      <strong>In my latest act,</strong> I've entered the consulting world building iOS, Ruby on
      Rails, and Javacript applications for clients with big ideas.
    </p>
  </section>

  <section class="contact-me">
    <% if ENV["ACCEPTING_NEW_WORK"] != "false" %>
      <p class="new-work-label">Currently accepting new work!</p>
    <% end %>
    <a href="mailto:mattvague@gmail.com" class="button contact-button">Contact Me</a>
    <hr/>
  </section>

  <section class="medium">
    <div class="medium-story">
      <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@mattvague/b1027fc571e3">Swift typealias to the rescue</a>
    </div>
  </section>
</div>

<footer>
  <div class="social-icons">
    <a href="http://twitter.com/mattvague" class="symbol">&#xe287;</a>
    <a href="http://dribbble.com/mattvague" class="symbol">&#xe221;</a>
    <a href="http://github.com/mattvague" class="symbol">&#xe236;</a>
  </div>
</footer>
