---
title: Matt Vague - Thing Builder
---

<div class="main-content">
  <h1>Matt builds things for the Web &amp; iOS.</h1>

  <div class="question question-1">
    <p>Are you looking for a new thing?</p>
    <div class="buttons">
      <a href="#" class="button button-yes" data-next="question-2">Yes</a>
      <a href="#" class="button button-no" data-next="question-3">No</a>
    </div>
  </div>

  <div class="question question-2 question-hidden">
    <p>Just what I wanted to hear!</p>
    <div class="buttons">
      <a href="mailto:matt@mattvague.com" class="button button-yes">Get in touch</a>
    </div>
  </div>

  <div class="question question-3 question-hidden">
    <p>Are you a recruiter?</p>
    <div class="buttons">
      <a href="#" class="button button-yes" data-next="question-4">Yes</a>
      <a href="#" class="button button-no" data-next="question-5">No</a>
    </div>
  </div>

  <div class="question question-4 question-hidden">
    <p>Do you work for Tesla or SpaceX?</p>
    <div class="buttons">
      <a href="#" class="button button-yes" data-next="question-6">Yes</a>
      <a href="#" class="button button-no" data-next="question-7">No</a>
    </div>
  </div>

  <div class="question question-5 question-hidden">
    <p>Promise?</p>
    <div class="buttons">
      <a href="#" class="button button-yes" data-next="question-2">Yes</a>
      <a href="#" class="button button-no" data-next="question-7">No</a>
    </div>
  </div>

  <div class="question question-6 question-hidden">
    <p>Promise?</p>
    <div class="buttons">
      <a href="#" class="button button-yes" data-next="question-2">Yes</a>
      <a href="#" class="button button-no" data-next="question-7">No</a>
    </div>
  </div>

  <div class="question question-7 question-hidden">
    <p>Sawwwry, not interested at the moment!</p>
    <br>
    <div class="buttons">
      <a href="http://www.reddit.com/r/babyelephantgifs" class="button button-yes">Cheer me up</a>
    </div>
  </div>

</div>

<div class="social-icons">
  <a href="http://twitter.com/mattvague" class="symbol">&#xe287;</a>
  <a href="http://dribbble.com/mattvague" class="symbol">&#xe221;</a>
  <a href="http://github.com/mattvague" class="symbol">&#xe236;</a>
</div>
