---
title: Matt Vague - Ruby, Javascript, and iOS contractor in Montreal, Canada
---

<div class="main-content">
  <header>
    <h1>Matt Vague</h1>
    <p>
    Ruby, Javascript, and iOS contractor in Montreal, Canada.
    </p>
  </header>

  <hr/>

  <section class="portfolio-item portfolio-item-1 image-left">
    <img src="/images/my_foresome.png" width="365" height="650">
    <div class="portfolio-item-description">
      <h2>MyForesome App</h2>
      <p>
        Who doesn't love a good foresome? This app makes it super easy to set one up on the nearest course with your buds. Relax, we're talking golf here.
      </p>
      <p>
        I was contracted to build the following:
      </p>

      <ul>
        <li>Native (Swift) iOS App</li>
        <li>Ruby on Rails API</li>
      </ul>
      <a href="https://itunes.apple.com/us/app/myforesome/id935729524">View in App Store →</a>
    </div>
  </section>

  <hr/>

  <section class="portfolio-item portfolio-item-2 image-right">
    <div class="portfolio-item-description">
      <h2>Watch It App</h2>
      <p>
        Seeing your favourite team get destroyed is no fun. This app lets you know when a game is worth watching based on teams &amp; condtions of your choosing.
      </p>
      <p>
        I was contracted to build the following:
      </p>

      <ul>
        <li>Native (Objective-C) iOS App</li>
        <li>Ruby on Rails API</li>
        <li>Game analyzation library</li>
      </ul>
    </div>
    <img src="/images/watch_it.png" width="365" height="650"/>
  </section>

  <hr/>

  <section class="portfolio-item portfolio-item-3 image-left">
    <img src="/images/postcards.png"/>
    <div class="portfolio-item-description">
      <h2>Postcards From the Plane</h2>
      <p>
        This app allows passengers to design and send a physical postcard anywhere in the world from their entertainment console. Check it out on your next Lufthansa flight!
      </p>
      <p>
        I was contracted to build the following:
      </p>
      <ul>
        <li>Ruby on Rails API</li>
        <li>Postcard compositing library</li>
        <li>Admin application and reporting tools</li>
      </ul>
    </div>
  </section>

  <hr/>

  <section class="about-me">
    <img src="/images/me.png"/>
    <p>
      Hiya! I'm Matt. I'm a <a href="https://en.wikipedia.org/wiki/Polyglotism">polyglot</a> developer with a knack for high-quality user interfaces.
      I've worked on better banking at <a href="http://www.versapay.com">VersaPay</a> and <a href="http://www.simple.com">Simple</a>, helped rebuild <a href="http://getflow.com">Flow App</a>,
      lead client projects at <a href="http://metalab.co">MetaLab</a>, and helped improve Canadian access to healthcare at <a href="http://medeohealth.com">Medeo</a>.
    </p>
    <p>
      Have a potential project you'd like to chat about? Something else? I'm all ears.
    </p>
  </section>

  <section class="contact-me">
    <a href="mailto:mattvague@gmail.com" class="button contact-button">Get in touch</a>
    <hr/>
  </section>

  <section class="medium">
    <div class="medium-story">
      <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@mattvague/b1027fc571e3">Swift typealias to the rescue</a>
    </div>
  </section>
</div>

<footer>
  <div class="social-icons">
    <a href="http://twitter.com/mattvague" class="symbol">&#xe287;</a>
    <a href="http://dribbble.com/mattvague" class="symbol">&#xe221;</a>
    <a href="http://github.com/mattvague" class="symbol">&#xe236;</a>
  </div>
</footer>
